.days-picker {
  margin: 0 10%;
  width: calc(100% - 20%) !important;
  position: relative;
}

.background-overlay-deposit {
  background: linear-gradient(180deg, rgba(119, 181, 230, 0) 50%, #74B4E5 100%);
  z-index: -1;
}