.outcome,
.outcome-symbol {
    background: -webkit-linear-gradient(90deg,
            #6440ac 0%,
            rgba(255, 255, 255, 0.1) 200%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}